# Local Netlify folder
.netlify
.# Supabase temp artifacts
supabase/.temp/
supabase/.temp/**

# local dependencies and transient artifacts
node_modules/
.tmp_*/
.tmp_public_schema.sql
project_uploads/

# generated/local artifacts
env_generated.js
mapboard.*


# stray artifact from AI toolings, .mapboard*

